.container {
  margin: 0 auto;
}

.header {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  padding: 1rem;
  background-color: rgb(46, 44, 44);
  color: #fff;
  border-bottom: 3px solid red;
}

.articles_container {
  max-width: 800px;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.articles_heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.article {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 1.2;
  font-size: 1.2rem;
}
